/****Start Of Global Styles*****/
.content_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.app_title, .app_footer{
    text-align: center;
}
.product_card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 25vw;
    margin: 20px;
}
.product_content{
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}
.product_image{
    width: 25vw;
    height: 25vh;
}
.product_data{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
}
.product_name_desc{
    display: flex;
    flex-flow: column nowrap;
}
.action_buttons{
    opacity: 0;
    transition: opacity 1s;
}
.comments_toggle{
    padding: 20px;
    background-color: #1a202c;
    border-radius: 8px;
    text-align: center;
    color: white;
}
.comments{
    display: none;
    width: 25vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.product_card:hover .action_buttons{
    opacity: 1;
}
/****End Of Global Styles*****/

